@{
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts
{
<script src="~/Scripts/ctrls/BlogDetailCtrl.js"></script>
}
<div class="container">
    <div class="page-header">
        <h4><span class="label label-danger" id="catalog" name="catalog"></span></h4>
        <h3><label id="blogtitle" name="blogtitle" /></h3>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <p>
            <span class="glyphicon glyphicon-time"></span>&nbsp;<label id="createdate" name="createdate"></label>
        </p>
        <p>
            <img id="photo" name="photo" class="img-rounded img-responsive" style="max-height: 800px;" />
        </p>
        <br />
        <p>
            <label id="blogdetail" name="blogdetail" />
        </p>
    </div>
</div>